<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layouts/admin}">
<body>
<div layout:fragment="content">
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">My Profile</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="card">
                <div class="row g-0">
                    <div class="col-3 d-none d-md-block border-end">
                        <div class="card-body">
                            <h4 class="subheader">Account</h4>
                            <div class="list-group list-group-transparent">
                                <a th:href="@{/profile}"
                                   class="list-group-item list-group-item-action d-flex align-items-center active">My profile</a>
                                <a th:href="@{/change-password}"
                                   class="list-group-item list-group-item-action d-flex align-items-center ">Change password</a>
                                <a th:href="@{/logout}" class="list-group-item list-group-item-action text-danger">Log out</a>
                            </div>
                        </div>
                    </div>
                    <form th:action="@{/profile}" method="post" class="col d-flex flex-column">
                        <div class="card-body">
                            <h2 class="mb-4">My profile</h2>
                            <div class="row g-3">
                                <div class="col-md">
                                    <div class="form-label">ID</div>
                                    <input name="id" type="text" class="form-control" value="ID" readonly>
                                </div>
                                <div class="col-md">
                                    <div class="form-label">Name</div>
                                    <input name="hoTen" type="text" class="form-control" value="ADMIN" readonly>
                                </div>
                            </div>
                            <div class="row g-3 mt-3 mb-3">
                                <div class="col-md">
                                    <div class="form-label">Email</div>
                                    <input name="email" type="text" class="form-control" readonly>
                                </div>
                                <div class="col-md">
                                    <div class="form-label">Phone</div>
                                    <input name="sdt" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row g-3 mt-3 mb-3">
                                <div class="col-md">
                                    <div class="form-label">Khoa</div>
                                    <input name="khoa" type="text" class="form-control" th:value="${thanhVien.full_name}"
                                           readonly>
                                </div>
                                <div class="col-md">
                                    <div class="form-label">Ngành</div>
                                    <input name="nganh" type="text" class="form-control" th:value="${thanhVien.gender}"
                                           readonly>
                                </div>
                            </div>
                            <p th:if="${param.success}" class="text-success">Cập nhật hồ sơ thành công.</p>
                            <p th:if="${error}" class="text-danger" th:text="${error}"></p>
                        </div>
                        <div class="card-footer bg-transparent mt-auto">
                            <div class="btn-list justify-content-end">
                                <a th:href="@{/profile}" class="btn">
                                    Cancel
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>