body {
    margin: 0;
    font-family: NotoSans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    align-items: end;
    background-color: var(--mdc-surface);
    box-sizing: border-box;
    color: var(--mdc-on-surface);
    display: flex;
    flex-flow: row wrap;
    font-family: NotoSans;
    gap: 8px;
    padding: 8px;
}