<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="clients/layout :: layout('Lịch đã đặt', 'pageHeadSection', 'appointment', 'pageContent')">
<head>
    <title></title>
    <th:block th:fragment="pageHeadSection">
        <link rel="stylesheet" th:href="@{/clients/css/pages/Page.css}">
        <link rel="stylesheet" th:href="@{/clients/css/pages/AppointmentPage.css}">
    </th:block>
</head>
<body>
<div th:fragment="pageContent" class="Appointment Page">
    <h2 class="title">Lịch đã đặt</h2>

</div>
</body>
</html>